<footer id="footer" class="footer light-background">

  <div class="container footer-top">
    <div class="row gy-4">
      <div class="col-lg-5 col-md-12 footer-about">
        <a href="index.html" class="logo d-flex align-items-center">
          <span class="sitename">2++Bank</span>
        </a>
        <p>언제나 고객님의 편의를 최우선으로 생각합니다.<br>
          안정적인 금융 환경에서 더 나은 미래를 향한 발걸음을 함께하세요.</p>
        <br>
        <div class="social-links d-flex mt-4">
          <a href=""><i class="bi bi-twitter-x"></i></a>
          <a href=""><i class="bi bi-facebook"></i></a>
          <a href=""><i class="bi bi-instagram"></i></a>
          <a href=""><i class="bi bi-linkedin"></i></a>
        </div>
      </div>

      <div class="col-lg-2 col-6 footer-links">
        <h4>Useful Links</h4>
        <ul>
          <li><a href="#">홈</a></li>
          <li><a href="#">회사소개</a></li>
          <li><a href="#">서비스 소개</a></li>
          <li><a href="#">이용약관</a></li>
          <li><a href="#">개인정보처리방침</a></li>
        </ul>
      </div>

      <div class="col-lg-2 col-6 footer-links">
        <h4>Our Services</h4>
        <ul>
          <li><a href="#">웹 디자인</a></li>
          <li><a href="#">웹 개발</a></li>
          <li><a href="#">상품 관리</a></li>
          <li><a href="#">마케팅</a></li>
          <li><a href="#">그래픽 디자인</a></li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
        <h4>Contact Us</h4>
        <p>서울특별시 강남구 테헤란로 108 (A108)</p>
        <p>우편번호: 06212</p>
        <p>대한민국</p>
        <p class="mt-4"><strong>전화번호: </strong> <span>+82 2-1234-5678</span></p>
        <p><strong>이메일 : </strong> <span>이메일: info@2++.co.kr/span></p>
      </div>

    </div>
  </div>

  <div class="container copyright text-center mt-4">
    <p>© <span>2024</span> <strong class="px-1 sitename">2++</strong> <span>All Rights Reserved</span></p>
    <div class="credits">
      Designed by <a href="https://bootstrapmade.com/">2++ IT Team</a>
    </div>
  </div>

</footer>
