<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>모니터링 화면</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            background-color: #e7e7e1;
        }

        h1 {
            color: #333;
        }

        .fileContent {
            width: 80%;
            padding: 10px;
            font-size: 16px;
        }

        button {
            background-color: aquamarine;
            /* color: #fff; */
            border: none;
            padding: 10px 20px;
            margin: 10px;
            cursor: pointer;
        }

        button:hover {
            background-color: aquamarine;
        }



        #output {
            font-size: 16px;
            margin-left: 10px;
        }

        .flex-container {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;
        }

        .flex-item {
            flex: 1;
            margin-left: 10px;
        }
    </style>
</head>

<body style="background-color: #0f1114;">
    <%- include('../menu.html') %>
        <div class="container" style="margin-top: 5%; margin-bottom:15%;">
            <h1 style="color:#ccccdc">서비스 모니터링 (On-premise 환경)</h1>
            <hr style="border: 3px solid #f9b410;">

            <div style="margin-bottom: 20px;">
                <div style="padding: 10px;">
                    <div style="display: flex; justify-content: space-between;">
                        <!-- monitoring data cards -->
                        <div
                            style="box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); flex: 1; margin-right: 10px; width: 32%;">
                            <div style="padding: 10px; height: 200px;">
                                <iframe
                                    src="https://ac995c8ddbcb149c2a9a7b7b24ecffd4-412661634.ap-northeast-2.elb.amazonaws.com:80/d-solo/os6Bh8Omk/kubernetes-cluster?orgId=1&refresh=5s&theme=dark&panelId=3"
                                    width="100%" height="100%" frameborder="0"></iframe>

                            </div>
                        </div>
                        <div
                            style="box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); flex: 1; margin-right: 10px; width: 32%;">
                            <div style="padding: 10px; height: 200px;">
                                <iframe
                                    src="https://ac995c8ddbcb149c2a9a7b7b24ecffd4-412661634.ap-northeast-2.elb.amazonaws.com:80/d-solo/os6Bh8Omk/kubernetes-cluster?orgId=1&refresh=5s&theme=dark&panelId=3"
                                    width="100%" height="100%" frameborder="0"></iframe>

                            </div>
                        </div>

                        <div
                            style="box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); flex: 1; margin-right: 10px; width: 32%;">
                            <div style="padding: 10px; height: 200px;">
                                <iframe
                                    src="https://ac995c8ddbcb149c2a9a7b7b24ecffd4-412661634.ap-northeast-2.elb.amazonaws.com:80/d-solo/os6Bh8Omk/kubernetes-cluster?orgId=1&refresh=5s&theme=dark&panelId=3"
                                    width="100%" height="100%" frameborder="0"></iframe>
                            </div>
                        </div>
                    </div>

                    <div style="display: flex; justify-content: space-between;">
                        <div
                            style="box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); flex: 1; margin-right: 10px; width: 45%;">
                            <div style="padding: 10px; height: 200%;">
                                <iframe
                                    src="https://ac995c8ddbcb149c2a9a7b7b24ecffd4-412661634.ap-northeast-2.elb.amazonaws.com:80/d/os6Bh8Omk/kubernetes-cluster?orgId=1&refresh=30s&from=1729059685749&to=1729061485749&viewPanel=17"
                                    width="100%" height="100%" frameborder="0"></iframe>
                            </div>
                        </div>

                        <div
                            style="box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); flex: 1; margin-right: 10px; width: 45%;">
                            <div style="padding: 10px; height: 200%;">
                                <iframe
                                    src="https://ac995c8ddbcb149c2a9a7b7b24ecffd4-412661634.ap-northeast-2.elb.amazonaws.com:80/d-solo/os6Bh8Omk/kubernetes-cluster?orgId=1&refresh=30s&from=1729060117067&to=1729061917067&theme=dark&panelId=8"
                                    width="100%" height="100%" frameborder="0"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" style="margin-top: 5%; margin-bottom: 5%;">
            <h1 style="color:#ccccdc">서비스 모니터링 (Cloud 환경)</h1>
            <hr style="border: 3px solid #f9b410;">

            <!-- <div class="flex-container">
                <button onclick="getServerIP()">Get Server IP</button>
                <div id="output"></div>
            </div> -->

            <div style="margin-bottom: 20px;">
                <div style="padding: 10px;">
                    <div style="display: flex; justify-content: space-between;">
                        <!-- monitoring data cards -->
                        <div
                            style="box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); flex: 1; margin-right: 10px; width: 32%;">
                            <div style="padding: 10px; height: 300px;">
                                <iframe
                                    src="https://ac995c8ddbcb149c2a9a7b7b24ecffd4-412661634.ap-northeast-2.elb.amazonaws.com:80/d-solo/os6Bh8Omk/kubernetes-cluster?orgId=1&refresh=5s&panelId=8"
                                    width="100%" height="100%" frameborder="0"></iframe>
                            </div>
                        </div>

                        <div
                            style="box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); flex: 1; margin-right: 10px; width: 32%;">
                            <div style="padding: 10px; height: 300px;">
                                <iframe
                                    src="https://ac995c8ddbcb149c2a9a7b7b24ecffd4-412661634.ap-northeast-2.elb.amazonaws.com:80/d-solo/os6Bh8Omk/kubernetes-cluster?orgId=1&refresh=5s&panelId=16"
                                    width="100%" height="100%" frameborder="0"></iframe>
                            </div>
                        </div>

                        <div
                            style="box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); flex: 1; margin-right: 10px; width: 32%;">
                            <div style="padding: 10px; height: 300px;">
                                <iframe
                                    src="https://ac995c8ddbcb149c2a9a7b7b24ecffd4-412661634.ap-northeast-2.elb.amazonaws.com:80/d-solo/os6Bh8Omk/kubernetes-cluster?orgId=1&refresh=5s&theme=dark&panelId=3"
                                    width="100%" height="100%" frameborder="0"></iframe>
                            </div>
                        </div>
                    </div>

                    <div style="display: flex; justify-content: space-between;">
                        <div
                            style="box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); flex: 1; margin-right: 10px; width: 45%;">
                            <div style="padding: 10px; height: 500px;">
                                <iframe
                                    src="https://ac995c8ddbcb149c2a9a7b7b24ecffd4-412661634.ap-northeast-2.elb.amazonaws.com:80/d-solo/os6Bh8Omk/kubernetes-cluster?orgId=1&refresh=5s&theme=dark&panelId=17"
                                    width="100%" height="100%" frameborder="0"></iframe>
                            </div>
                        </div>

                        <div
                            style="box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); flex: 1; margin-right: 10px; width: 45%;">
                            <div style="padding: 10px; height: 500px;">
                                <iframe
                                    src="https://ac995c8ddbcb149c2a9a7b7b24ecffd4-412661634.ap-northeast-2.elb.amazonaws.com:80/d-solo/os6Bh8Omk/kubernetes-cluster?orgId=1&refresh=5s&theme=dark&panelId=8"
                                    width="100%" height="100%" frameborder="0"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include('../footer.html') %>
</body>

</html>