<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>오류</title>
  <script>
    window.onload = function () {
      alert("<%= message %>"); // 에러 메시지 표시
      window.location.href = "<%= redirect %>"; // 리다이렉트
    };
  </script>
</head>

<body>
</body>

</html>